body {
    position: relative;
    width: auto;
    display: block;
    background-color: #e69819;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

#logo {
    width: 500px;
    height: 400px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.square.food {
    background-color: red;
}

.square.wood {
    background-color: saddlebrown;
}

.square.mineral {
    background-color: gray;
}

h2 {
    text-align: center;
    font-size: 50px;
    margin: 0;
    padding: 0;
    font-weight: bolder;
}

h1 {
    text-align: center;
    font-size: 280px;
    color: crimson;
    margin: 0;
    padding: 0;
}

.square {
    display: inline-block;
    width: 80px;
    height: 50px;
    background-color: yellow;
    margin-bottom: 3px;
    border-radius: 8px;
}
.line {
    display: inline-block;
    vertical-align: top;
    margin-right: 0px;
}
.btn {
    display: block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.btn:hover {
    background-color: #3e8e41;
}
.btn2 {
    display: block;
    padding: 10px 20px;
    background-color: crimson;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.btn2:hover {
    background-color: brown;
}
.line-container {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
}
.line-column {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 75px;
    margin-bottom: 25px;
}

#btnContainer {
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

@media only screen and (orientation: landscape) {
    .line-container {
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .line-column {
      width: auto;
      margin: 30px;
    }
    
    h2 {
        text-align: center;
        font-size: 25px;
        margin: 0;
        padding: 0;
        font-weight: bolder;
    }

    .square {
      width: 50px;
      height: 15px;
      margin: 3px;
    }
    
    span {
      display: inline-block;
      margin-bottom: 0px;
      width: 50px;
    }

    .btn {
        display: block;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        margin-top: 5px;
        border-radius: 3px;
        height: 25px;
        text-align: center;
    }

    .btn2 {
        display: block;
        padding: 10px 20px;
        background-color: crimson;
        color: white;
        border: none;
        cursor: pointer;
        margin-top: 5px;
        border-radius: 3px;
        height: 25px;
        text-align: center;
    }
}